Source: stasks
Maintainer: Ivo Xavier <ivofernandes12@gmail.com>
Section: utils
Priority: optional
Build-Depends: debhelper-compat (= 13), meson, ninja-build, valac, libgtk-4-dev, libadwaita-1-dev, gettext
Standards-Version: 4.6.0
Homepage: https://github.com/ivoxavier/sTasks

Package: stasks
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Modern, lightweight script and task manager
 sTasks is a simple utility designed to organize, edit, and execute your
 favorite shell scripts through a clean and native GTK4/Libadwaita interface.
